/* Start Framework */
:root {
  --color-red: rgb(167, 48, 48);
  --color-dark-red: #a73030;
  --color-light-white: #fffbeb;
  --color-dark-white: #aaa59d;
  --color-t-white: rgba(255, 251, 235, 0.61);
  --color-dark-gray: #363636;
  --color-purple: #8a3845;
  --color-yellow: #b98b34;
  /* --color-dark-gray: rgb(54, 54, 54); */
  --slide-height: 183px;
  --slide-width: 183px;
  --slider-height: calc((3 * var(--slide-height)) + 2 * 13px + 2 * 26px);
  --slider-width: 235px;
  --slide-gap: 13px;
  --shop-triangle: 8px;
}
html {
  font-size: 62.5%;
  background-color: black;
  /* scroll-behavior: smooth; */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* overflow-x: hidden; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  font-family: MyriadPro;
  /* padding-left: 16px; */
  /* padding-right: 16px; */
  /* max-width: 93%; */
  /* margin: auto; */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 4px 8px;
  border-radius: 4px;
  height: fit-content;
  cursor: pointer;
  background-color: var(--color-dark-white);
  text-decoration: none;
}
.btn--primary {
  background-color: var(--color-red);
  color: var(--color-light-white);
}
.btn--icon {
  justify-content: center;
  background-color: transparent;
}
.btn .btn__icon {
  display: flex;
  align-items: center;
}
.btn.btn--contact svg {
  width: 14px;
  margin-right: 4px;
}
.btn.btn--contact{
  padding: 8px 12px;
}
.btn--fab {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn--primary svg {
  fill: #fff;
}
.btn .btn__text {
  color: var(--color-light-white);
  font-size: 16px;
}
.divider {
  width: 100%;
  /* background-color: white; */
  border-bottom: 1px solid white;
}
.divider--v {
  min-height: 22px;
  height: 100%;
  border-right: 1px solid white;
}
.hamburger {
  position: relative;
  width: 3rem;
  height: 1px;
  background-color: #fff;
}
.hamburger::after,
.hamburger::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}
.hamburger::before {
  top: -8px;
}
.hamburger::after{
  bottom: -8px;
}
.close-icon .hamburger{
  background-color: transparent;
}
.close-icon .hamburger::before,
.close-icon .hamburger::after{
  bottom: auto;
  top: 0;
}
.close-icon .hamburger::before{
  transform: rotate(45deg);
}
.close-icon .hamburger::after{
  transform: rotate(-45deg);
}
.times-icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: block;
}
.times-icon::before,
.times-icon::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: 50%;
  position: absolute;
  transform-origin: top;
}
.times-icon::before{
  transform: rotate(45deg) translateY(-50%);
}
.times-icon::after{
  transform: rotate(-45deg) translateY(-50%);
}
.nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  z-index: 9;
  gap: 8px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__logo {
  display: none;
}
.nav__logo a {
  color: var(--color-light-white);
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-family: "OratorStd";
  z-index: 1000;
}
.nav__list {
  margin-inline-start: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--color-dark-red);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.nav__list ul {
  display: flex;
  flex-direction: column;
  column-gap: 6rem;
  row-gap: 8rem;
  justify-content: center;
  align-items: center;
}
.nav__list.list--active{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.nav__list a {
  font-size: 28px;
  font-family: "capoonPersonalUseLight";
  text-decoration: none;
  padding: 8px 16px;
  /* font-weight: bold; */
  color: var(--color-light-white);
  position: relative;
}
.nav__list a::after {
  content: '';
  position: absolute;
  left: 0;
  /* left: 50%; */
  /* transform: translate(-50%); */
  bottom: 0;
  height: 2px;
  background-color: currentColor;
  width: 0;
  transition: width 0.2s ease-in;
}
.nav__list a:hover::after{
  width: 100%;
}
/* .nav__list a:active::after {
  width: 100%;
} */

.input-field {
  height: 45px;
  position: relative;
  --pad-left: 32px;
  border-bottom: 1px solid var(--color-light-white);
}
.input-field::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 1px;
  --label-width: 68px;
  --border-start: 25px;
  background-color: var(--color-light-white);
  /* background-image: linear-gradient(var(--color-light-white), transparent 4px, var(--color-light-white) 64px); */
  width: 0;
  transition: width 0.2s ease-in-out;
}
.input-field::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-right: 1px solid var(--color-light-white);
  border-left: 1px solid var(--color-light-white);
  z-index: -1;
  height: 0;
  transition: height 0.2s ease-in-out;
}
.input-field input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: var(--pad-left);
  color: var(--color-light-white);
  outline: none;
}
.msg-field {
  height: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.input-field textarea {
  font-size: 16px;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding-left: var(--pad-left);
  color: var(--color-light-white);
  outline: none;
  resize: none;
}
.input-field label {
  position: absolute;
  left: var(--pad-left);
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-light-white);
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  opacity: 50%;
  font-weight: 100;
}
.msg-field label {
  top: 12px;
  transform: translateY(25%);
}
.msg-field.input-field--filled label{
transform: translateY(-50%);
}
.input-field--filled label{
  top: 0;
  left: 30px;
}
.email-field::before {
  --label-width: 40px;
}
.subject-field::before {
  --label-width: 162px;
}
.company-field::before {
  --label-width: 125px;
}
.msg-field::before {
  --label-width: 130px;
}
.desc-msg {
  font-size: 12px;
}
.input-field--filled::before {
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    #fff var(--border-start),
    transparent var(--border-start),
    transparent calc(var(--border-start) + var(--label-width) + 5px),
    #fff 9%
  );
}
.input-field .input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}
.input-field.input-field--focused .input-icon, .input-field.input-field--focused label {
  opacity: 100%;
}
.input-field.input-field--focused::before,
.input-field.input-field--filled::before {
  width: 100%;
}
.input-field.input-field--focused::after,
.input-field.input-field--filled::after {
  height: 100%;
}
.input-field .input-icon svg {
  width: 14px;
  fill: var(--color-light-white);
}
.msg-field .input-icon {
  top: 14px;
  transform: translateY(25%);
}

.fullName-field, .email-field {
  flex-basis: 100%;
}
.subject-field,
.company-field,
.msg-field{
  flex-basis: 100%;
}
/* End Framework */

/* Start main */
/* main {
} */
/* .feats-sec {
} */
.feats-sec img {
  width: 145%;
  left: -36%;
  position: relative;
}
.main-wrap {
  /* background-image: url(../imgs/bg-with-text.jpg); */
  /* min-height: 4000px; */
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding-top: 100vh;
  transition: padding 0.75s ease-in-out 0.15s;
}
.main-wrap--active {
  padding-top: 80vh;
}
.main-wrap .bg-img {
  --padd: 0;
  position: fixed;
  left: var(--padd);
  top: 0;
  bottom: 0;
  /* height: 1000px; */
  right: var(--padd);
  z-index: 1;
  background-image: url(../imgs/bg-with-text.jpg);
  background-position: right top;
  background-size: 167%;
}
.main-wrap .bg-img img {
  width: 100%;
}
.menu-btn {
  height: 3rem;
  z-index: 9;
}
.menu-close {
  position: fixed;
  right: 2rem;
  top: 2rem;
}
.fixed-pos {
  transform-origin: left top;
}
.main-content {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 12px;
}
.main-content-wrap{
  backdrop-filter: blur(7px);
  z-index: 2;
  /* top: 80vh; */
  position: relative;
  padding: 0 1.5%;
}
.sec {
  position: relative;
  padding: 12px;
  --border-end: 80%;
  margin: 64px auto;
  max-width: 87%;
}
.sec::before,
.sec::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  border: 1px solid white;
  z-index: -1;
}
.sec::before {
  left: 0;
  right: var(--border-end);
  border-right-color: transparent;

}
.sec::after {
  right: 0;
  left: var(--border-end);
  border-left-color: transparent;

}
/* End main */

/* Start About us section */
/* .about-sec {
  z-index: 2;
} */
.about__content {
  display: flex;
  gap: 20px;
  padding-top: 16px;
}
.about__logo {
  max-width: 70px;
  display: none;
}
.about__logo img {
  width: 100%;
}
.about__text {
  width: 365px;

}
.about-title {
  display: none;
}
.about-mob-title {
  --angle-width: 30px;
  font-size: 28px;
  font-weight: bold;
  color: var(--color-light-white);
  font-family: "MyriadPro";
  text-align: center;
  position: relative;
  margin-top: var(--angle-width);
  opacity: 65%;
}
.about-mob-title svg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
  width: var(--angle-width);
  fill: var(--color-light-white);
}
.about__text .brand-title {
  font-size: 18px;
  font-weight: bold;
  opacity: 65%;
  color: var(--color-dark-red);
  margin-bottom: 1rem;
  display: none;
}
/* End About us section */

/* Start Services section */
.feats__text {
  max-width: 400px;
  padding-left: 2rem;
}
.feats-title{
  margin-bottom: 2rem !important;
  text-align: center;
}
/* End Services section */

/* Start word table */
.word-table {
  border: 1px solid #fff;
  font-family: "capoonPersonalUseLight";
  opacity: 0.5;
  margin: 32px auto;
  width: fit-content;
}
.word-table .word-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.word-table .word-row > p {
  font-size: 10px;
  padding: 2px;
  color: white;
}
.word-table .word-row:first-child > p {
  letter-spacing: 1px;
}
/* End word table */

/* Start services */
.services-heading {
  font-size: 48px;
  color: var(--color-light-white);
  opacity: 0.5;
  margin: 0;
  text-align: center;
  position: relative;
}
.services-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: calc(100% + 8px);
  transform: translateX(-50%);
  border-top: 22px solid var(--color-light-white);
  border-right: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid transparent;
}
.services-text {
  color: white;
  display: flex;
  flex-direction: column;
}
.services-text-head {
  flex-basis: 50%;
}
.services-title {
  font-size: 78px;
  margin: 0 0 8px 0;
  font-weight: 100;
  color: var(--color-light-white);
  opacity: 38%;
  text-align: center;
}
.services-subtitle {
  color: var(--color-light-white);
  font-size: 21px;
  margin: 0 0 8px 0;
  letter-spacing: 4px;
}
.services-text-content {
  flex-basis: 50%;
}
.services-text-keys { 
  font-size: 14px;
  display: flex;
  margin-bottom: 16px;
}
.services-text-keys li {
  padding: 2px 8px;
  background-color: black;
  font-weight: bold;
  color: var(--color-yellow)
}
.services-text-keys li.active {
  background-color: var(--color-dark-red);
  color: var(--color-light-white);
}
/* .services-pics {
  position: relative;
  margin-top: 24px;
} */

.sec-pics {
  position: relative;
  margin-top: 24px;
}

/* .services-button-prev,
.services-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-light-white);
  font-size: 32px;
  cursor: pointer;
} */

.sec-pics-button-prev,
.sec-pics-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-light-white);
  font-size: 32px;
  cursor: pointer;
}

/* .services-button-prev {
  left: 0;
}
.services-button-next {
  right: 0;
}
.services-button-prev svg,
.services-button-next svg {
  fill: var(--color-light-white);
  width: 30px;
} */

.sec-pics-button-prev {
  left: 0;
}
.sec-pics-button-next {
  right: 0;
}
.sec-pics-button-prev svg,
.sec-pics-button-next svg {
  fill: var(--color-light-white);
  width: 30px;
}

.sec-pics .swiper {
  width: 70%;
  color: #fff;
}
.sec-pics .swiper-slide {
  border-radius: 4px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.sec-pics .swiper-slide svg,
.img-to-gallery svg {
  width: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  fill: var(--color-light-white);
  transition: width 0.2s ease-in-out;
}
.sec-pics .swiper-slide::before,
.sec-pics .swiper-slide::after,
.img-to-gallery::after,
.img-to-gallery::before {
  content: '';
  position: absolute;
  visibility: hidden;
  transition: transform 0.2s ease-in-out;
  width: 25%;
  height: 25%;
  z-index: 1;
  transform: scale(0);
  --border-width: 4px
}
.sec-pics .swiper-slide::before,
.img-to-gallery::before {
  left: 12px;
  top: 12px;
  border-left: var(--border-width) solid var(--color-light-white);
  border-top: var(--border-width) solid var(--color-light-white);
}
.sec-pics .swiper-slide::after,
.img-to-gallery::after {
  right: 12px;
  bottom: 12px;
  border-right: var(--border-width) solid var(--color-light-white);
  border-bottom: var(--border-width) solid var(--color-light-white);
}
.sec-pics .swiper-slide:hover svg,
.img-to-gallery:hover svg{
  width: 30px;
}
.sec-pics .swiper-slide:hover::before,
.sec-pics .swiper-slide:hover::after,
.img-to-gallery:hover::before,
.img-to-gallery:hover::after {
  visibility: visible;
  transform: scale(1);
}
.sec-pics .swiper-slide img {
  /* width: 100%; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 0.2s ease-in-out;
}
.sec-pics .swiper-slide:hover img,
.img-to-gallery:hover img {
  filter: grayscale(0);
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
/* .swiper {
  margin: 0;
} */
.gallery-dialog {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* width: 100%; */
  /* height: 100%; */
  z-index: 9;
  /* padding: 16px; */
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  --col-gap: 64px;
  --row-gap: 32px;
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  overflow: hidden;
}
.gallery-dialog .gallery img {
  object-fit: contain;
}
.close-dialog {
  position: fixed;
  left: 16px;
  top: 16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.close-dialog svg {
  width: 12px;
}
.gallery-dialog--active {
  transform: scale(1);
  visibility: visible;
}
.gallery-dialog .gallery {
  flex-basis: calc(90% - var(--col-gap));
  max-height: 100%;
  max-width: 100%;
}
.gallery-dialog .thumbs-wrapper {
  flex-basis: 10%;
  max-height: 100%;
}
.gallery-dialog .thumbs-wrapper .thumbs.swiper {
  height: 100%;
}
.gallery-dialog .thumbs.swiper .swiper-slide {
  opacity: 0.5;
  border-radius: 4px;
}
.gallery-dialog .thumbs.swiper .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
  border: 3px solid var(--color-dark-red);
}
/* End services */

/* Start Visualisation */
.vis-sec {

}
.vis-title {
  margin-bottom: 1.5rem !important;
}
.vis-content {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  flex-direction: column;
  overflow: hidden;
}
.vis-card {
  flex-basis: 50%;
  position: relative;
}
.vis-card-title {
  /* transform: translateY(-100%); */
  background-color: #a73030;
  color: var(--color-light-white);
  font-family: "capoonPersonalUseLight";
  font-weight: lighter;
  line-height: 1.2;
  font-size: 17px;
  padding: 0px 37px;
  display: inline-block;
}
.vis-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.vis-card-text {
  background-color: rgba(167, 48, 48, 0.3);
  color: var(--color-light-white);
  font-family: "Hornbill-Personal";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  padding: 37px 33px;
  flex: 3;
}
.vis-card-img {
  height: 190px;
  flex: 1;

}
.vis-card-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: filter 0.2s ease-in-out;
  filter: grayscale(1);
}
/* End Visualisation */

/* Start Other services */
.oth-services-title {
  margin: 0 !important;
}
.oth-services-subtitle {
  color: var(--color-light-white);
  opacity: 38%;
  font-size: 12px;
  font-family: "capoonPersonalUseLight";
  font-weight: lighter;
  margin-bottom: 20px;
  margin: 0 ;
  text-align: center;
}
/* End Other services */


.img-to-gallery {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.fixed-btns {
  position: fixed;
  z-index: 8;
  right: 12px;
  bottom: 12px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  visibility: hidden;
  transform: translateY(50px);
  transition: transform 0.2s ease-in-out;
}
.fixed-btns #scrollTopBtn {

}
.fixed-btns--active {
  visibility: visible;
  transform: translateY(0);
}
.btn--lang {
  /* position: fixed; */
  /* left: 3.5%; */
  /* top: 3.5%; */
  position: relative;
}
.btn--lang.btn--active {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.btn--lang .btn__menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: var(--color-light-white);
  color: var(--color-dark-gray);
  font-size: 14px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.2s ease-in-out;
}
.btn--lang .btn__menu li {
  padding: 4px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.btn--lang .btn__menu li:not(:last-child){
  border-bottom: 1px solid var(--color-dark-gray);
}
.btn--lang .btn__menu li:hover {
  transform: translateX(4px);
}
.btn--lang.btn--active .btn__menu {
  transform: scaleY(1);
}
.contact-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 23px 47px !important;
  display: flex;
  flex-wrap: wrap;
  --column-gap: 40px;
  --row-gap: 40px;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  
}
.contact-form .form-actions {
  flex-basis: 100%;
}
.contact-form .form-actions .btn {
  font-size: 18px;
  min-width: 185px;
  text-align: center;
  justify-content: center;
  margin: 0 auto !important;
  height: 45px;
}

footer {
  padding: 16px;
  margin-top: 64px;
  border-top: 1px solid var(--color-light-white);
}

footer p {
  color: var(--color-light-white);
  font-size: 16px;
  text-align: center;
}
.footer-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  margin-top: 16px;
}
.soc-btn {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grand-word {
  color: var(--color-light-white);
  font-size: 425px;
  opacity: 0.05;
  font-weight: bold;
  display: none;
}

/* Start Utils */
.yellow-text {
  color: var(--color-yellow);
}
.text-center{
  text-align: center !important;
}
.overflow-hidden {
  overflow: hidden;
}
.rounded-pill {
  border-radius: 100px !important;
}
.rounded {
  border-radius: 4px !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.h2{
  /*
  color: var(--color-light-white);
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.5;
  */
  font-size: 35px;
  font-family: "MyriadPro";
  color: var(--color-light-white);
  opacity: 0.38;
  font-weight: 100;
  margin: 0 0 24px 0;
  text-align: center;
}
.h3 {
  font-size: 40px;
  color: var(--color-light-white);
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
}
.primary--text {
  color: var(--color-dark-red);
}
.primary {
  background-color: var(--color-dark-red);
  color: #fff;
}
.p {
  font-size: 1.4rem;
  color: var(--color-light-white);
  font-family: "Hornbill-Personal";
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
}
.marker{
  padding: 0 2px;
}
ul.red-bullets li {
  position: relative;
  margin-bottom: 1rem;
}
ul.red-bullets li:not(:last-of-type):before {
  content: "";
  position: absolute;
  left: -12px;
  top: 7px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--color-red);
}
/* End Utils */


.app-scrollbar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 5px;
  z-index: 5;
}
.app-scrollbar__thumb {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  /* background-color: #555; */
  /* height: 10vh; */
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 500px;
  transition: opacity 1.5s ease-out;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animate-on-scroll {
  visibility: hidden;
  transition: transform 0.5s ease-in-out;
}
.scroll-right {
  transform: translateX(25%);
}
.scroll-left {
  transform: translateX(-25%);
}
.scroll-top {
  transform: translateY(-25%);
}
.scroll-bottom {
  transform: translateY(25%);
}
.has-scrolled {
  visibility: visible !important;
}
.has-scrolled.scroll-right,
.has-scrolled.scroll-left {
  transform: translateX(0) !important;
}
.has-scrolled.scroll-top,
.has-scrolled.scroll-bottom {
  transform: translateY(0) !important;
}
.about__content.animate-on-scroll.scroll-right {
  visibility: visible;
  transform: translateX(0);
}
.app-loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-red);
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 28px;

}
.app-loading.app-loading--active {
  display: flex;
  
}
.app-loading .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-white);
  font-size: 28px;
  letter-spacing: 3px;
  font-family: "OratorStd";
}
.loading-bar {
  width: 10em;
  height: 3px;
  background-color: var(--color-dark-white);
  position: relative;
  overflow: hidden;
}
.loading-bar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5em;
  transform: translate(-2.5em);
  animation: appLoading 1.5s ease infinite;
  background-color: var(--color-light-white);
}
@media (min-width: 576px) {
  .about__content.animate-on-scroll.scroll-right {
    visibility: hidden;
    transform: translateX(25%);
  }
  .sec-pics .swiper {
    height: 380px;

  }
  .fullName-field, .email-field {
    flex-basis: calc(50% - calc(var(--column-gap) / 2));
  }
  .feats-sec img {
    width: 625px;
    left: auto;
    /* position: relative; */
  }
  .services-title {
    font-size: 98px;
    text-align: left;
  }
  .sec-pics .swiper {
    width: 90%;
  }
  .sec {
    padding: 24px;
  }
  .vis-card-content {
    gap: 10px;
    flex-direction: row;
  }
  .services-text-keys li {
    padding: 4px 12px;
  }
  .services-text-keys { 
    font-size: 16px;
  }
  .h2 {
    font-size: 94px;
    text-align: left;
  }
  .h3 {
    font-size: 53px;
  }
  .container {
    max-width: 540px;
  }
  .about-sec {
    left: 916.892px;
    top: 686.493px;
  }
  .fixed-pos {
    position: absolute;
  }
  .main-wrap .bg-img {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .services-text {
  flex-direction: row;
  }
  .main-content-wrap{
    backdrop-filter: blur(0);
    padding: 0;
  }
  .word-table {
    margin: 0;
  }
  .word-table .word-row > p {
    font-size: 12px;
    padding: 4px;
  
  }
  .services-heading {
    font-size: 60px;
  }

}

@media (min-width: 768px) {
  .grand-word {
    display: block;
  }
  .main-wrap .bg-img {
    --padd: 3.5%;
  }
  body {
    /* padding-left: 64px; */
    /* padding-right: 64px; */
  }
  .main-wrap {
    padding-top: 0;
  }
  .container {
    max-width: 720px;
  }
  .main-content {
    top: auto;
    background-color: transparent;
    padding: 0;
  }
  .main-content-wrap {
    top: auto;

  }
  .about__text .brand-title, .about-title , .about__logo{
    display: block;
  }
  .about-mob-title {
    display: none;
  }
  .oth-services-subtitle {
    font-size: 26px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .vis-card-img {
    height: 100%;
    flex: 2;
  }
  .vis-content {
    flex-direction: row;
  }
  /* .vis-card-img {
    height: 350px;
  } */
  .gallery-dialog {
    flex-direction: row;
  }
  .container {
    max-width: 960px;
  }
  .menu-close {
    display: none;
  }
  .nav {
    padding-left: 72px;
    padding-right: 72px;
    justify-content: space-between;
  }
  .nav__list {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    position: static;
    width: auto;
    background-color: transparent;
  }
  .nav__list ul {
    flex-direction: row;

  }
  .nav__logo {
    display: block;
  }
  .menu-btn {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .nav__list a {
    font-size: 24px;
  }
}
@keyframes appLoading {
  0% {
    transform: translate(-2.5em);
  }
  50% {
      transform: translate(5.1em);
  }
  100% {
      transform: translate(-2.5em);
  }
}